@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  font-family: sans-serif;
}

p {
  font-size: 1rem;
  font-family: sans-serif;
}

label {
  font-family: sans-serif;
}
select {
  @apply block w-full py-1 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500;
}
